<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="GET" class="form-signin" th:object="${regForm}" th:action="@{/register}">


        <div class="form-group">
            <input type="text" th:field="${regForm.memberAccount}" class="form-control" placeholder="memberAccount">
            <span class="has-error" th:if="${#fields.hasErrors('memberAccount')}"
                  th:errors="${regForm.memberAccount}"></span>
        </div>

        <div class="form-group">
            <input type="text" th:field="${regForm.memberName}" class="form-control" placeholder="memberName">
            <span class="has-error" th:if="${#fields.hasErrors('memberName')}" th:errors="${regForm.memberName}"></span>
        </div>

        <div class="form-group">
            <input type="text" th:field="${regForm.password}" class="form-control" placeholder="Password">
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="${regForm.password}"></span>
        </div>

        <div class="form-group">
            <input type="text" th:field="${regForm.confirmPassword}" class="form-control"
                   placeholder="Confirm your password">
            <span class="has-error" th:if="${#fields.hasErrors('confirmPassword')}"
                  th:errors="${regForm.confirmPassword}"></span>

        </div>
    </form>
</body>
</html>
